.icons {
    display: flex;
    align-items: center;
}

.icons ul {
    display: flex;
}

.icons li {
    margin: 0px 20px;
    list-style: none;
    cursor: pointer;
}

.footer span {
    margin: 10px 0px;
}

.footer span p {
    margin-bottom: 0px;
}
.footer span img {
    margin: 10px;
}
.footer span {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .icons ul {
        margin-bottom: 0px;
    }

    .footer span {
        margin: 0px;
    }
    .logo {
        width: 50%;
        margin-top: 5px;
    }
}
