html,
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
    font-family: "Roboto", sans-serif;
}
