.infobanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.banner {
    background: #ece7e7;
}
@media (max-width: 768px) {
    .infobanner {
        padding: 0px;
    }
    .infobanner p {
        text-align: center;
        font-size: 16px;
        padding: 0px 10px;
    }
    .infobanner h4 {
        font-size: 18px;
    }
}
