.mainSlider {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: transparent;
}
.sliderText {
    position: absolute;
    top: 50px;
    left: 40%;
    width: 500px;
    z-index: 1000;
    display: flex;
    margin: auto;
    height: 300px;
    right: 40%;
}
.mainbanner {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 500px;
    padding: 50px;
}
.pageslider {
    height: 100%;
    width: 100;
}
.pageslider button {
    background: black;
    height: 30px;
    width: 30px;
    margin: 0px 40px;
    border-radius: 50%;
    border: none;
    z-index: 100;
    cursor: pointer;
}

.pageslider ul {
    width: 100px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 15px;
    display: flex;
    border-radius: 50px;
    left: 43%;
}

@media (max-width: 768px) {
    .pageslider ul li button {
        height: 15px !important;
        padding: 0px;
        width: 15px !important;
    }
    .pageslider ul li {
        height: 10px;
        width: 10px;
    }
    .pageslider ul {
        height: 20px;
        bottom: 0px;
        width: 70px;
    }
}
