.newsletterform {
    background-color: orange;
    background-image: url("/food_bg.webp");
    height: 500px;
}

.newsletter {
    height: 500px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
}

.newsletterform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.newsletterform input,
.newsletterform button {
    width: 50%;
    margin: 10px auto;
    height: 70px;
    border-radius: 0px;
}
