.newslettersubscribe {
    background-color: orange;
    background-image: url("/food_bg.webp");
    height: 500px;
}

.newsletter {
    height: 500px;
    background-image: url("/orange_bg.webp");
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: inherit;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
}

.newsletterform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    z-index: 100;
    position: relative;
    align-items: center;
    width: 100%;
    height: inherit;
}

.newsletterform input,
.newsletterform button {
    width: 50%;
    margin: 10px auto;
    height: 70px;
    border-radius: 0px;
}

.newsletterform div {
    width: 100%;
}

.newslettertext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}
