.orderbanner {
    background-color: white;
    padding: 50px 100px;
    margin-top: 20px;
}

.btnGrp button {
    background-color: transparent;
    border: 1px solid white;
    height: 80px;
    width: 200px;
    border-radius: 0px;
    margin: 0px 20px;
}

.btnGrp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnGrp button svg {
    color: white;
    fill: white;
}
.column1 h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
}

.column1 p {
    margin: 30px 0px;
    font-size: 20px;
    font-weight: 500;
}
.column1 {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: #3e4044;
    font-weight: bolder;
}

.column2 {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .orderbanner {
        padding: 15px 10px;
    }
    .btnGrp {
        margin: 0 0 20px 0;
    }
    .orderbanner h1 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .column1 p {
        margin-bottom: 5px;
    }
    .orderbanner button {
        width: 100px;
        height: 50px;
    }
}
