section.section:first-child h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 72px;
    color: #3e4044;
    letter-spacing: -0.0025em;
}

section.section h1 span {
    color: #f29100;
}

section.section:first-child,
section.section:nth-child(4) {
    background-color: #faf5ed;
}

section.section:nth-child(2),
section.section:nth-child(5) {
    background-color: #d6e6ff;
}

@media (max-width: 1440px) {
    section.section h1 {
        font-size: 35px;
        line-height: 40px;
        font-weight: bold;
    }
}

@media (max-width: 768px) {
    section.section:first-child h1 {
        font-size: 32px;
        line-height: 48px;
    }
    section.section img {
        display: none;
    }
    section.section:first-child p {
        font: normal normal 14px/20px "Roboto";
        letter-spacing: 0.0025em;
        color: #3e4044;
    }
    .section.section h1 {
        font-size: 30px;
        line-height: 35px;
    }
}
